<nav class="nav-container">
    <div class="nav-links">
        <% if (currentPage !== 'index') { %>
            <a href="/properties" class="nav-link">Property List</a>
        <% } %>
        <% if (currentPage !== 'new') { %>
            <a href="/properties/new" class="nav-link">Add a Property</a>
        <% } %>
    </div>
</nav>
