<nav class="nav-container">
    <div class="nav-links">
        <a href="/properties" class="nav-link">Property List</a>
        <a href="/properties/new" class="nav-link">Add a Property</a>
    </div>
</nav>
