
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
<link rel="stylesheet" href="/public/styles.css">
<nav class="nav-container">
    <div class="nav-links">
        <a href="/properties">Property List Index</a>
        <a href="/properties/new">Add a Property</a>
    </div>
</nav>
