<!DOCTYPE html>
<html lang="en">
    <%- include("../views/partials/head.ejs") %>
<body>
    <%- include("../views/partials/nav.ejs") %>
    <div class="container">
        <h1>Add New Property</h1>
        <form id="propertyForm" action="/properties" method="POST" style="margin-top: 20px;">
            <label for="address">Address:</label>
            <input type="text" name="address" id="address" required class="field-long" placeholder="1 Main Street Charleston SC 29489"><br>

            <label for="owner">Owner:</label>
            <input type="text" name="owner" id="owner" required class="field-long" placeholder="John Smith"><br>

            <label for="completed">Completed:</label>
            <input type="checkbox" name="completed" id="completed" class="field-checkbox"><br>

            <input type="submit" value="Add Property" class="button" style="margin-top: 10px;">
            <button type="submit" formaction="/properties/createAndNew" class="button" style="margin-top: 10px;">Add and Next</button>
        </form>
    </div>
</body>
</html>
